.container {
    border: 1px solid #686868;
    border-radius: 13px;
    height: 100%;
    margin-bottom: 20px;
  }

  .table>:not(caption)>* >*{
    background-color: #262525;
  }

  .badge{
      font-size: 0.6em;
  }
  
  .btn{
      border-radius: 10px;
      margin-left: 5px;
      font-size: 0.7em;
  }